@charset "UTF-8";

section.contents-wrap {
	display: inline-block;
	min-height: 100%;
	padding-top:200px;
	padding-bottom: 20px;
	text-align: center;
	margin-bottom: 50px;
	margin: 0 37%;
	min-width: 432px;
	
}

section#contents-wrap a {
	text-decoration: none;
	color: black;
}
section#contents-wrap a:hover {
	text-decoration: none;
	color: green;
}

.form-control_input {
	box-sizing: border-box;
	height: 40px;
	width: 378px;
	min-width: 250px;
	padding: 0 15px;
	line-height: 40px;
	border-radius: 4px;
	border: solid 1px #dbdbdb;
	background-color: #ffffff;
	color: #424242;
	font-size: 14px;
	font-weight: 300;
}

.login-form {
	display: inline-block;
}

.login-form_title>p {
	font-size: 30px;
	font-weight: 700;
}

.login-form_input_text {
	max-width: 350px;
}

.login-form_subtitle>p {
	font-size: 25px;
	font-weight: 500;
}

.login-textbox {
	display: block;
	padding: 15px 25px 0;
	min-width: 432px;
}

.form-control_input_btn {
	height: 25px;
	width: 378px;
	border: solid 1px #dbdbdb00;
	display: block;
	height: 40px;
	box-sizing: border-box;
	border-radius: 4px;
	font-size: 1rem;
	font-weight: 400;
	color: #fff;
	background: #27b06e;
	cursor: pointer;
	outline: none;
}

.form-control_input_btn:hover {background: #27B000; }

.login-btnbox {
	display: block;
	padding: 0 25px;
	width: 100%;
	text-align: -webkit-center;
	min-width: 432px;
}

.login-findbox {
	display: flex;
	justify-content: space-around;
	margin-left: 30px;
	color: #424242;
	font-size: 15px;
	line-height: 1.4;
	width: 378px;
}

.button-wrap {
	align-items: center;
	box-sizing: border-box;
	height: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.login-findbox_en {
	position: absolute;
	display: inline-block;
	padding: 3px 5px; /* margin: 0 100px; */
	/* margin-right: 60px; */
	min-width: 550px;
}

.login-findbox_en_f {
	display: inline-block;
}

.content_row {
	margin-bottom: 15px;
}