@charset "UTF-8";

#test{
    height: 5000px;
	}
	
.total>a>p{
	font-size : 10px;
	}
.total{
   	display:inline-block;
  	margin : 30px;
   	width : 200px;
	} 
.container{
    display: flex;
	}
hr{width:100%;}
.right{
    width: 100%;
	}
.right>h1{
	margin:50px;
	font-size: 42px;
	left:0;
	}
	
a:link{
	text-decoration:none;
	color:#646464;
}
a:visited{
	text-decoration:none;
	color:#646464;
}
/* a:active{ */
/* 	text-decoration:none; */
/* 	color:#646464; */
/* } */
/* a:hover{ */
/* 	text-decoration:none; */
/* 	color:#646464; */
/* } */
.total>a>p>span{
	font-size:14px;
	color:#333333;
	display:bolck;
}	
.clearfix{
	text-align: center;
    margin: 0;
    padding: 0;
}
.menus>li{
	list-style-type:none;
	float:left;
	width:23%;
	margin-left:1%;
}
.menus ~ li:nth-child(1){
	margin-left:0;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
	
}
	}	
#sort{
	width:200px;
}

/* 	좌측메뉴바 */
.left{
	margin:100px;
   position : relative; 
    width: 200px;
	}
.productul>li:after{
	content: "";
    display: block;
    width: 60px;
    margin: 10px auto;
}
#sidebar>.productul>li{
	list-style-type:none;
	color: #818181;
}

#sidebar{
    left : 100px;
    height: 200px;
    width: 100%;
    position: absolute;
    left:30px;
	}
	
.sidemenu:hover{
	color: #808080;
	/* background-color: #9EF048; */
	/* background:; */
	transition: 0.5s ease-out;
	
}

.productInfoin{
	position: relative;
	color: lightgrey;
	font-size: 15px;
}
.productInfo{
	color: rgb(58, 182, 47);
	font-size: 17px;
	margin-right: 5px;
}
.productInfoin2{
	font-size:17px;
}
.main-product-img{
	width: 200px;
	height: 200px;
}
 .productul{
	
   margin:40px auto;
   padding:10px 0px 20px 0px;
  /*   border:1px solid #111; 
   border-radius:4px;
    box-shadow:0px 4px 5px rgba(0, 0, 0, 0.75); */ */
} 

.cjfdn{
	
   /* font-size:16px; */
   font-weight:300;
   text-align:center;
   position:relative;
   height:40px;
   line-height:40px;
   margin-top:10px;
   overflow:hidden;
   width:90%;
   margin-left:5%;
   cursor:pointer;
}
.cjfdn:after{
   content: '';
   position:absolute;
   width:80%;
   border-bottom:2px solid #9EF048;
   bottom:50%;
   left:-100%;
   transition-delay: all 0.5s;
   transition: all 0.5s;
}
.cjfdn:hover:after,
.cjfdn.hover:after{
   left:100%;
}
.cjfdn .sidemenu{
   text-shadow:0px -40px 0px #818181;
   transition:all 0.75s;
   transform:translateY(100%) translateZ(0);
   transition-delay:all 0.25s;
}
.cjfdn:hover .sidemenu,
.cjfdn.hover .sidemenu{
   text-shadow:0px -40px 0px  #818181;;
   transform:translateY(0%) translateZ(0) scale(1.1);
   font-weight:600;
}
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	